
<h1>This is a test template.</h1>


<p><%= link_to('Go to hello...', {:controller => 'demo', :action => 'hello'}) %></p>
<p><%= link_to('...or back to index...', {:controller => 'demo', :action => 'index'}) %></p>
